.color-green{
    color: green;
}
.color-red{
    color: red;
}

.transferForm{
}
.transferWrapper{
    @extend %flex-column-center;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 100vw;
}
.formWrapper{
    @extend %flex-column-center;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
}
.standingOrderWrapper{
    display: flex;
    margin-top: 30px;
    .standingOrderInput{
        display: flex;
        align-self: center;
        width:24px;
        height:24px;
    }
    span{
        font-family: Lato;
        font-size: 14px;
        color: $second-brand-color;
        margin-top: 6px;
        margin-left: 20px;
    }
    // &:before {
    //     content:"";
    //     display:inline-block;
    //     width:24px;
    //     height:24px;
    //     border-radius: 4px;
    //     border: solid 1px $brand-color;
    //     background-color: $brand-color;
    //     background-image: url(/images/checkbox.svg) no-repeat;
    //     text-align: center;
    //     text-justify: auto;
    // }
}
.none{
    display: none;
}
.transferText{
  -webkit-text-stroke: 1px #979797;
  font-family: Lato;
  font-size: 11px;
  letter-spacing: 1.1px;
  color: $second-brand-color;
  margin-bottom: 9px;
  margin-top: 30px;
  text-transform: uppercase;
}
.textInput{
    height: 50px;
    border-radius: 4px;
    border: solid 1px #b4b4b4;
    width: 100%;

}
::placeholder{
    font-family: Lato;
    font-size: 16px;
    color: #858585;
    padding-left: 21px;
    padding-top: 13px;
}
.titleHeader{
  font-family: Lato;
  font-size: 26px;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 20px;
}
.title{
    background-color: $white-two;
    height: 82px;
    width: 100%;
    display: flex;
}
.destinationAccountInput{
    height: 48px;
    padding: 0;
}
.destinationAccountWrapper{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: solid 1px #ac1419;
    // width: 400px;
    >span{
        font-family: Lato;
        font-size: 16px;
        position: relative;
        height: 29px;
        background-color: #ac1419;
        color: white;
        padding-left: 21px;
        padding-top: 9px;
    }
}
.submitBtn{
  width: 230px;
  height: 50px;
  border-radius: 4px;
  background-color: $brand-color;
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  margin-top: 26px;
}
.closeIcon{
    margin-left: auto;
    padding-right: 20px;
}
.transferFormFooter{
    height: 102px;
    box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.2);
    background-color: $white-two;
    margin-top: 232px;
}
.smsAuthorization{
    display: flex;
    margin-top: 20px;
    p{
        display: flex;
        align-items: center;
    }
    .authorizationInput{
        width: 200px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .authorizationBtn{
        width: 230px;
        border-radius: 4px;
        background-color: $brand-color;
        font-family: Lato;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
        color: white;
    }
}
.smsAuthorization.none{
    display: none;
}

@media screen and (min-width: $breakpoint-tablet){
.transferWrapper{
    margin-top: 24px;
}
.formWrapper{
    max-width: 728px;
}
.textInput{
    width: 726px;
}
.destinationAccountWrapper{
    width: 728px;
}
.transferValueWrapper{
    display: flex;
}
.valueWrapper{
    display: flex;
    flex-direction: column;
    .transferValueInput{
        width: 230px;
        margin-right: 19px;
    }

}
.titleWrapper{
    display: flex;
    flex-direction: column;
    .transferTitleInput{
        width: 479px;
    }
    
}
.transferFormFooter{
    width: 768px;
}
.closeIcon{
    margin-right: 19.8px;
}
.titleHeader{
    margin-left: 20px;
}
.transferFormFooter{
    // width: 767px;
    // transform: translateX(-20px);
}
.submitBtn{
    margin-left: 518px;
}
}

@media screen and (min-width: $breakpoint-desktop) {
.transferWrapper{
}
.formWrapper{
    max-width: 728px;
}
.textInput{
    width: 726px;
}
.destinationAccountWrapper{
    width: 728px;
}
.titleHeader{
    margin-left: 265px;
}
.transferFormFooter{
    // width: 1258px;
    // transform: translateX(-266px);
}
.submitBtn{
    margin-left: 764px;
}
}