/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: Lato;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  max-width: 1352px;
  width: 100%;
  margin: 0 auto;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-self: center;
  height: 56px;
  background-color: #d71920;
}
body header .logo {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 20px;
}
body header .logo2 {
  display: none;
  -ms-flex-item-align: center;
      align-self: center;
}
body header .lup {
  margin: 17px 30px 19px auto;
}
body header .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px 20px 22px 0px;
}
body header .settings {
  display: none;
  margin-left: auto;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 20px;
}
body header .mail {
  display: none;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 14px;
}
body header .user {
  display: none;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 16px;
}
body header .username {
  display: none;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.14px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 75px;
}
body header .logout {
  display: none;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 20px;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  color: white;
}
body nav {
  background-color: #d71920;
  height: 56px;
  display: none;
}
body nav .products {
  background-color: #f4f4f4;
  width: 113px;
  height: 41px;
  margin: 15px 0px 0px 20px;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  color: #d71920;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav .payments {
  width: 113px;
  height: 41px;
  margin: 15px 0px 0px 0px;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav .search {
  height: 40px;
  border-radius: 4px;
  background-color: white;
  margin: 8px 20px 8px auto;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0.19px;
  color: #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav .search .isearch {
  width: 242px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0.19px;
  color: #b4b4b4;
  padding-left: 21px;
}

@media screen and (min-width: 768px) {
  body header {
    background-color: #ac1419;
  }
  body header .logo {
    display: none;
  }
  body header .logo2 {
    display: block;
    margin-left: 20px;
  }
  body header .lup {
    display: none;
  }
  body header .hamburger {
    display: none;
  }
  body header .settings {
    display: block;
  }
  body header .mail {
    display: block;
  }
  body header .user {
    display: block;
  }
  body header .logout {
    display: block;
  }
  body nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1023px) {
  body header .logo {
    display: block;
    margin-left: 66px;
  }
  body header .logo2 {
    display: none;
  }
  body header .search {
    margin-right: 66px;
  }
  body header .isearch {
    width: 447px;
  }
  body header .logout {
    margin-right: 66px;
  }
  body header .products {
    margin-left: 66px;
  }
  body header .username {
    display: block;
  }
  body nav {
    padding-left: 66px;
    padding-right: 66px;
  }
  body nav .products {
    margin-left: 0;
  }
  body nav .search {
    margin-right: 0;
  }
}
main article .secondSection .table .tableBody .tableHead .tableTransactionDate {
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.12px;
  color: #858585;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  max-width: 1220px;
  padding-top: 31px;
  width: 100%;
  margin: 0 auto;
}
main article .firstSection {
  padding-right: 20px;
  padding-left: 20px;
}
main article .firstSection .accountBasicInfoWrapper .accountInfo .accountBasicInfo {
  padding-bottom: 17px;
}
main article .firstSection .accountBasicInfoWrapper .accountInfo .accountBasicInfo .accountType {
  width: 151px;
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #2f3234;
  text-transform: uppercase;
}
main article .firstSection .accountBasicInfoWrapper .accountInfo .accountBasicInfo .accountName {
  width: 289px;
  height: 29px;
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.29px;
  color: #000000;
  padding-bottom: 2px;
}
main article .firstSection .accountBasicInfoWrapper .accountInfo .accountBasicInfo .accountNumber {
  width: 199px;
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #858585;
}
main article .firstSection .accountBasicInfoWrapper .accountInfo .availableFunds {
  padding-bottom: 16.5px;
}
main article .firstSection .accountBasicInfoWrapper .accountInfo .availableFunds span {
  width: 107px;
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #2f3234;
  text-transform: uppercase;
}
main article .firstSection .accountBasicInfoWrapper .accountInfo .availableFunds .funds {
  width: 121px;
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2f3234;
}
main article .firstSection .accountBasicInfoWrapper .accountInfo .availableFunds .funds span {
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #2f3234;
}
main article .firstSection .accountBasicInfoWrapper .line {
  width: 100%;
  height: 1px;
  border-top: solid 1px #dbdbdb;
  padding-bottom: 23.5px;
}
main article .firstSection .accountBasicInfoWrapper .buttonsSection .btn {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.14px;
  text-align: center;
  text-transform: uppercase;
}
main article .firstSection .accountBasicInfoWrapper .buttonsSection .newBtn {
  border: solid 1px #d71920;
  background-color: #d71920;
  color: white;
}
main article .firstSection .accountBasicInfoWrapper .buttonsSection .historyBtn {
  border: solid 1px #f4f4f4;
  background-color: #f4f4f4;
  color: #d71920;
  margin-top: 25px;
  margin-bottom: 25px;
}
main article .secondSection .table .tableHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.12px;
  text-align: center;
  color: #858585;
  text-transform: uppercase;
}
main article .secondSection .table .tableBody .tableHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main article .secondSection .table .tableBody .tableRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  margin-top: 9.5px;
}
main article .secondSection .table .tableBody .tableRow .tableTransactionDate {
  width: 37px;
  height: 15px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.17px;
  text-align: center;
  color: #2f3234;
}

@media screen and (min-width: 768px) {
  main {
    background-color: #f4f4f4;
    padding-top: 0px;
  }
  main article {
    margin: 40px 20px 0 20px;
    border: solid 1px #dbdbdb;
    background-color: white;
  }
  main article .firstSection .accountBasicInfoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 22px;
  }
  main article .firstSection .accountBasicInfoWrapper .line {
    display: none;
  }
  main article .firstSection .accountBasicInfoWrapper .accountInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main article .firstSection .accountBasicInfoWrapper .accountInfo .accountBasicInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main article .firstSection .accountBasicInfoWrapper .accountInfo .availableFunds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main article .firstSection .accountBasicInfoWrapper .accountInfo .availableFunds span {
    display: block;
    margin-left: auto;
  }
  main article .firstSection .accountBasicInfoWrapper .accountInfo .availableFunds .funds {
    width: 175px;
    height: 32px;
    font-family: Lato;
    font-size: 26px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
  }
  main article .firstSection .accountBasicInfoWrapper .buttonsSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main article .firstSection .accountBasicInfoWrapper .buttonsSection .btn {
    width: 210px;
    height: 50px;
  }
  main article .firstSection .accountBasicInfoWrapper .buttonsSection .newBtn {
    margin-right: 20px;
  }
  main article .firstSection .accountBasicInfoWrapper .buttonsSection .historyBtn {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1023px) {
  main article {
    max-width: 800px;
  }
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  max-width: 1352px;
  width: 100%;
  margin: 0 auto;
}
body .footer {
  height: auto;
  background-color: #f4f4f4;
  border-top: solid 1px #979797;
}
body .footer .footer-row .footer-info {
  margin-top: 35px;
  padding-bottom: 28px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #858585;
}
body .footer .footer-row .footer-info li {
  list-style: none;
}
body .footer .footer-row .copyright {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #858585;
}
body .footer .footer-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato;
  font-size: 9px;
  text-align: center;
  color: #747474;
  padding: 28px 15px 25px 15px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .footer .footer-row .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 30px;
  }
}
@media (min-width: 1023px) {
  .footer {
    height: 140px;
    padding-bottom: 38px;
  }
  .footer .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .footer-row .footer-info {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    line-height: 1;
    margin-left: 66px;
    width: 730px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer-row .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: 66px;
    margin-top: 35px;
  }
  .footer .footer-note {
    margin: 0px 100px 0px 100px;
  }
}
